# Staging the origen board audio codec
config SND_SOC_RT5625
	tristate

config SND_SOC_ORIGEN_RT5625
	tristate "SoC I2S Audio support for RT5625 on ORIGEN board"
	depends on SND_SOC_SAMSUNG && MACH_ORIGEN
	select SND_SOC_RT5625
	select SND_SAMSUNG_I2S
	select fool
	help
		Say Y if you want to add support for SoC audio
		on origen board using RT5625 codec
